@font-face {
    font-family: Ubuntu Light;
    src: url(Fonts/ubuntu-font-family-0.83/Ubuntu-L.ttf);
}

@font-face {
    font-family: Ubuntu Medium;
    src: url(Fonts/ubuntu-font-family-0.83/Ubuntu-M.ttf);
}

@font-face {
    font-family: Ubuntu Bold;
    src: url(Fonts/ubuntu-font-family-0.83/Ubuntu-B.ttf);
}

body {
    background-color: #292341;
	font-family: Ubuntu Light;
}

svg {
    width: 100%;
    height: auto;
}

.axis text {
    fill: #FFFFFF;
}

.axis.x text {
    font-size: 8px;
}

.axis.y text {
    font-size: 11px;
}

.axis path, .axis line {
	fill: none;
	stroke: #AAAAAA;
}

.magnify {
    font-size: 16px !important;
}

.bar rect.invisible {
    display: none;
}

.steamAnth {
	fill: #7E1C1F;
}

.steamBitu {
    fill: #733C3F;
}

.petroleum {
    fill: #685D5F;
}

.LNG {
    fill: #5D7D7F;
}

.hydroPump {
    fill: #519E9F;
}

.nuclear {
    fill: #46BEBF;
}

.group {
    fill: #3BDFDF;
}

.newRenew {
    fill: #30FFFF;
}

.index text.name {
    fill: #000000;
    font-family: Ubuntu Medium;
    font-size: 20px;
}

.index g text {
    fill: #FFFFFF;
    font-family: Ubuntu Medium;
    font-size: 30px;
    display: none;
}

.index .description {
    fill: #FFFFFF;
    font-family: Ubuntu Bold;
    font-size: 11px;
    position: relative;
    display: none;
}

.index .visible {
    display: block !important;
}

.partition {
    stroke: white;
    stroke-width: 3;
    stroke-dasharray: 10, 10;
}

rect.mask {
    opacity: 0.5;
    fill: #000000;
    overflow: hidden;
}

g .invisible {
    display: none;
}

/*
attr("stroke-dasharray", "10, 10")
                    .attr("stroke", "white")
                    .attr("stroke-width", 3);*/
